body {
    background-color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.div1 {
    background-color:cadetblue;
    color:honeydew;
    padding: 20px
}

#div2 {
    background-color:darkolivegreen;
    color:coral;
    padding: 20px
}

#bricks {
    position: fixed;
    width: 100px;
    bottom: 0px;
    right: 0;
}

.hidden-block {
    width: 300px;
    height: 100px;
    position: fixed;
    top: 400px;
    left: -300px;
    background-color: #ffe6ac;
    padding: 10px;
    transition: 0.4s;
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hidden-block::after {
    content: 'Contacts';
    position: absolute;
    top: 120px;
    left: 300px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    width: 120px;
    height: 30px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcc00;
    color: black;
    font-weight: bold;
}

.hidden-block:hover {
    left: 0;
}

#nure {
    padding: 5px;
    width: 90%;
}