body {
    background-color:rgb(63, 63, 63);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.div1 {
    background-color:rgb(107, 95, 160);
    color:rgb(89, 206, 200);
    padding: 20px
}

#div2 {
    background-color:rgb(124, 55, 138);
    color:rgb(255, 229, 80);
    padding: 20px
}

#bricks {
    position: fixed;
    width: 100px;
    bottom: 25px;
    right: 10px;
}

.hidden-block {
    width: 300px;
    height: 100px;
    position: fixed;
    top: 700px;
    left: -300px;
    background-color: #fcd708a4;
    padding: 10px;
    transition: 0.4s;
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hidden-block::after {
    content: 'Контакти';
    position: absolute;
    top: 120px;
    left: 300px;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    width: 120px;
    height: 30px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffee00;
    color: black;
    font-weight: bold;
}

.hidden-block:hover {
    left: 0;
}

#nure {
    padding: 5px;
    width: 90%;
}